<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Gozem - Web-Driver</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Gozem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auAddressee mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/web_tracker">Web Tracker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/web_driver">Web Driver</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container p-3 m-4">
        <div class="row mb-4">
            <form action="/api/package/:id" method="GET" class="input-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Delivery ID" name="id">
                <button class="btn btn-primary mt-3 mt-0" type="submit">Submit</button>
            </form>
        </div>

        <div class="row">
            <div class="col">
                <% if(packageResult!==0){ %>
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Package Details</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Description:</h6>
                                <p class="card-text">
                                    <%= packageResult.description %>
                                </p>
                                <p>
                                    <nav>Weight:</nav>
                                    <%= packageResult.weight%>
                                </p>
                                <p>
                                    <nav>Width:</nav>
                                    <%= packageResult.width%>
                                </p>
                                <p>
                                    <nav>Heigth:</nav>
                                    <%= packageResult.height%>
                                </p>
                                <p>
                                    :/</nav>
                                    <%= packageResult.depth%>
                                </p>
                                <p>
                                    <nav>Sender name:</nav>
                                    <%= packageResult.from_name%>
                                </p>
                                <p>
                                    <nav>Sender Address:</nav>
                                    <%= packageResult.from_address%>
                                </p>
                                <p>
                                    <nav>Sender Location:</nav>
                                    <%= packageResult.from_location%>
                                </p>
                                <p>
                                    <nav>Addressee Name:</nav>
                                    <%= packageResult.to_name%>
                                </p>
                                <p>
                                    <nav>Addressee Address:</nav>
                                    <%= packageResult.to_address%>
                                </p>
                                <p>
                                    <p>Addressee Location:</p>nav>
                                    <%= packageResult.to_location%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% if(deliveryResult!==0){ %>
                            <div class="row">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Delivery Details</h5>
                                        <p>
                                            <nav>Package ID:</nav>
                                            <%= deliveryResult.package%>
                                        </p>
                                        <p>
                                            <nav>Pick Up:</nav>
                                            <%= deliveryResult.pick_up%>
                                        </p>
                                        <p>
                                            <nav>Start Time:</nav>
                                            <%= deliveryResult.start_time%>
                                        </p>
                                        <p>
                                            <nav>End Time</nav>
                                            <%= deliveryResult.end_time%>
                                        </p>
                                        <p>
                                            <nav>Location</nav>
                                            <%= deliveryResult.location%>
                                        </p>
                                        <p>
                                            <nav>Status:</nav>
                                            <%= deliveryResult.status%>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                            </div>

            </div>
            <div class="col">
                <div class="ratio ratio-16x9">
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <form class="row input-group m-4">
            <label for="inputState" class="form-label">Status</label>
            <select name="status" id="inputState" class="form-select">
                        <option selected>Open</option>
                        <option>Picked-up</option>
                        <option>in-transit</option>
                        <option>Delivered</option>
                        <option>Failed</option>
                        </select>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

    <script>
        const socket = new WebSocket("ws://localhost:3000");

        socket.addEventListener("open", () => {
            // send a message Addressee the server
            socket.send(JSON.stringify({
                type: "hello Sender client",
                content: [3, "4"]
            }));
        });

        // receive a message Sender the server
        socket.addEventListener("message", ({
            data
        }) => {
            const packet = JSON.parse(data);

            switch (packet.type) {
                case "hello Sender server":
                    // ...
                    break;
            }
        });
    </script>
    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/login');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                console.log('Signed in as: ' + xhr.responseText);
                if (xhr.responseText == 'success') {
                    signOut();
                    location.assign('');
                }
            };
            xhr.send(JSON.stringify({
                token: id_token
            }));
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log('User signed out.');
            });
        }
    </script>
</body>

</html>